<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% load static   %}
<head>
    {% block style %}
    <script>
     $(document).ready(function() {
         $('#chat').load(window.location.href + "/reload");
    });

setInterval(function(){
   $('#chat').load(window.location.href + "/reload");
}, 1000) /* time in milliseconds (ie 2 seconds)*/
</script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    {% comment %} <script src="{% static 'json/chat.js' %}"></script> {% endcomment %}
    <title>Jepara Furniture</title>
    
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="bg">
        <!-- style="background-image: url({% static "img/wallpaper.jpg" %}); background-repeat: repeat-y;" -->
        <div class="form-bg">
            <div class="chat-bg">
                <form action="/staff/chat/{{user_chat.id}}" method="post">
                {% csrf_token %}
                <div id = "chat">
                </div>
                <!-- Admin chatlog(ganjil) User chatlog(genap) -->
                  
                
            </div>
            <div class="bg-chat-form">
                {% comment %} <input type="image" alt="Profile" value="" name="content" img src={% static  "img/chat/profile.png"  %} width="50px" height="50px" disabled> {% endcomment %}
                <input type="text" class="chat-text" name="content" placeholder="">
                <input type="submit" class="chat-enter" name="" value=">">
            </form>
            </div> 
        </div>
    </div>
    {% endblock %}
</body>
</html>