<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% load static   %}   
<head>
    {% block style %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
    <title>Jepara Furniture</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="bg">
        <div class="bg-slideshow">
        <div class="slideshow-container">

            <div class="mySlides">
              <img src={% static  "img/menu/img-slideshow1.png"  %} style="width:100%">
              <div class="text">Wardrobe</div>
            </div>
            
            <div class="mySlides">
              <img src={% static  "img/menu/img-slideshow1.png"  %} style="width:100%">
              <div class="text">Bed</div>
            </div>

            <div class="mySlides">
              <img src={% static  "img/menu/img-slideshow1.png"  %} style="width:100%">
              <div class="text">Table</div>
            </div>

            <div class="mySlides">
              <img src={% static  "img/menu/img-slideshow1.png"  %} style="width:100%">
              <div class="text">Chair</div>
            </div>

            <div class="mySlides">
                <img src={% static  "img/menu/img-slideshow1.png"  %} style="width:100%">
                <div class="text">Drawer</div>
              </div>
            
            <a class="prev" onclick="plusSlides(-1)">&#10096;</a>
            <a class="next" onclick="plusSlides(1)">&#10097;</a>
            
            </div>
            <br>
            
            <div style="text-align:center">
              <span class="dot" onclick="currentSlide(1)"></span> 
              <span class="dot" onclick="currentSlide(2)"></span> 
              <span class="dot" onclick="currentSlide(3)"></span> 
              <span class="dot" onclick="currentSlide(4)"></span> 
              <span class="dot" onclick="currentSlide(5)"></span> 
            </div>
            <br>
        </div>

        <div class="gap"></div> 

        <div class="feature-bar">
            
            <div class="btn-2">
                <a href="">
                    <img class="img-feature" src={% static  "img/menu/btn-feature-2.png"  %}>
                </a>
            </div>
            <div class="btn-3">
                <a href="">
                    <img class="img-feature" src={% static  "img/menu/btn-feature-3.png"  %}>
                </a>
            </div>    
            <div class="btn-4">
                <a href="">
                    <img class="img-feature" src={% static  "img/menu/btn-feature-4.png"  %}>
                </a>
            </div>
        </div> 

        <div class="gap"></div>

        <div class="main-page">
            <!-- for-loop per item -->
            {% for each in furnitures %}
            <a href="/view/furniture/{{each.furniture.kategori}}-{{each.furniture.id}}" >
            <div class="bg-item">
                <img class="img-item" type="image" alt="" value="" name="" img src="/{{each.furniture.gambar}}" width="100%" >
                <br>
                <div class="item-desc">
                    <div class="item-rating">
                        <span style="color: gold;">&#9733  </span>
                        <input class="input-rating" type="text" id="" name="" value={{each.rating}} placeholder="" disabled>
                        <input class="input-price" type="text" id="" name="" value={{each.furniture.harga}} placeholder="" disabled>
                    </div>
                    <br>
                        <h style="float: right;color: gray;font-size: 16px;" >Detail</a>
                    <div class="item-text">
                        <input class="input-text-title" type="text" id="" name="" value={{each.furniture.nama}} placeholder="" disabled>
                        <textarea  disabled class="input-text" name = "" rows="8" placeholder={{each.furniture.info}}></textarea>
                    </div>
                </div>
            </div>
            </a>
            {% endfor %}
            <!-- for loop per item -->            
        </div>
    </div>

    

    

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);
        
        function plusSlides(n) {
          showSlides(slideIndex += n);
        }
        
        function currentSlide(n) {
          showSlides(slideIndex = n);
        }
        
        function showSlides(n) {
          var i;
          var slides = document.getElementsByClassName("mySlides");
          var dots = document.getElementsByClassName("dot");
          if (n > slides.length) {slideIndex = 1}    
          if (n < 1) {slideIndex = slides.length}
          for (i = 0; i < slides.length; i++) {
              slides[i].style.display = "none";  
          }
          for (i = 0; i < dots.length; i++) {
              dots[i].className = dots[i].className.replace(" active", "");
          }
          slides[slideIndex-1].style.display = "block";  
          dots[slideIndex-1].className += " active";
        }
        </script>
        {% endblock %}
</body>
</html>