<!DOCTYPE html>
{% extends 'base.html' %}


<html lang="en">

{% load static   %}
<head>
{% block style %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <title>Home</title>

{% endblock %}
</head>
<body>
{% block body %}
    <div class="bg">
        <div class="bg-img" style="text-align: left;">
        
            <img class="img" style="left: 10px;" src={% static  "img/home/img-home-top.png"  %}>
        </div>

        <div class="gap"></div> 

        <div class="feature-bar">
            
            <div class="btn-2">
                <a href="chat">
                    <img class="img-feature-2" src={% static  "img/home/btn-feature-2.png"  %}>
                </a>
            </div>
            <div class="btn-3">
                <a href="complain">
                    <img class="img-feature-3" src={% static  "img/home/btn-feature-3.png"  %}>
                </a>
            </div>    
            <div class="btn-4">
                <a href="preorder">
                    <img class="img-feature-4" src={% static  "img/home/btn-feature-4.png"  %}>
                </a>
            </div>
        </div> 
        <div class="gap"></div>
        <div class="main-page">
            <div class="bg-img-mp-1">
                <img class="img-mp-1" src={% static  "img/home/img-mp-1.png" %}>
            </div>
            
            <div class="bg-img-mp-2">
                <img class="img-mp-2" src={% static  "img/home/img-mp-2.png" %}>
            </div>
            <img class="img-circle" src={% static  "img/home/circle.png" %}>
        </div>
        <div class="gap"></div>
        <div class="catalogue-title">Top Categories</div>
        <div class="catalogue">
        
            <div class="catalogue-column1">
                <div class="catalogue-column1-row1">
                    <a href="view/furniture/chair">
                        <img class="chair" src={% static "img/home/chair.png" %}>
                    Chair</a>
                </div>
                <div class="catalogue-column1-row2">
                    <a href="view/furniture/table">
                        <img class="table" src={% static "img/home/table.png" %}>
                    Table</a>
                </div>
            </div>
            <div class="catalogue-column2">
                <div class="catalogue-column2-row1">
                    <a href="view/furniture/wardobe">
                        <img class="closet" src={% static "img/home/closet.png" %}>
                    Wardrobe </a>
                </div>
            </div>
            <div class="catalogue-column3">
                <div class="catalogue-column3-row1">
                    <a href="view/furniture/bed">
                        <img class="bed" src={% static "img/home/bed.png" %}>
                    Bed </a>
                </div>
                <div class="catalogue-column3-row2">
                    <a href="view/furniture/drawer">
                        <img class="drawer" src={% static "img/home/drawer.png" %}>
                    Drawer</a>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}    
</body>
</html>