<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% load static   %}
<head>
    {% block style %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Jepara Furniture</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="login-bg">
        <div class="login-form-bg">
            <form action="/login" method="post">
                {% csrf_token %}
                <p style="text-align: left;font-size: 200%;color: white;">Sign In</p>
                <input type="text" class="login-input-textpw" name="username" placeholder="USERNAME">
                <input type="password" class="login-input-textpw" name="password" placeholder="PASSWORD">
                <input type="submit" class="login-input-login" name="" value="LOGIN">
            </form>
            <button class="login-register-button" onclick="window.location.href='/register';">REGISTER</button>
                <!-- User-only-part -->
                <div class="login-others-login">
                    <a href="" onclick="window.location.href='/staff/login';">&#183; Login as Staff</a>
                    
                    
                    <a href="" onclick="window.location.href='/admin/login';">&#183; Login as Admin</a>
                    
                    <a href="" onclick="window.location.href='/owner/login';">&#183; Login as Owner</a>
                </div>
                <!-- User-only-part -->
        </div>
    </div>
    {% endblock %}  
</body>
</html>