<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% load static   %}
<head>
    {% block style %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
    <title>Jepara Furniture</title>
    {% endblock %}
</head>
<body>
    {% block body %}
    <div class="register-bg">
        <div class="register-form-bg">
            <form action="/register" method="post">
                {% csrf_token %}
                <p style="text-align: left;font-size: 200%;color: white;">REGISTER</p>
                <select class="register-input-textpw" name="region">
                    <option value="jabodetabek">Jabodetabek</option>
                    <option value="Non-jabodetabek">Non Jabodetabek</option>
                </select>
                <input type="text" class="register-input-textpw" name="email" placeholder="EMAIL">
                <input type="text" class="register-input-textpw" name="username" placeholder="USERNAME">
                <input type="password" class="register-input-textpw" name="password" placeholder="PASSWORD">
                <input type="submit" class="register-input-register" name="" value="REGISTER">
            </form>
        </div>
    </div>
    {% endblock %}  
</body>
</html>