<!DOCTYPE html>
<html>
<head>
<style>
{% load static %}
</style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% block style %}
{% endblock %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
Jepara Furniture
</title>
</head> 
<body>
  <header>
  {% if request.user.is_superuser %}
    {% include 'navbar_admin.html' %}
  {% elif   request.user.is_staff %}
    {% include 'navbar_staff.html' %}
  {% else %}
    {% include 'navbar.html' %}
  {% endif %}
  </header>
    {% block body %}
    {% endblock %}
  <footer>{% include 'footer.html' %}</footer>
</body>
</html>