<style>

footer{ min-height:4vh; background:PapayaWhip; }

footer{
  margin-top:auto; 
  border-radius: 2.5vh 2.5vh 0vh 0vh;
}
#main_logo_footer{
  font-family: Righteous;
  font-family: Righteous;
  font-style: normal;
  font-weight: normal;
  text-align: start;
  font-size: 3vh;
  text-decoration: none;
  overflow: auto;
  color : white;
    }

</style>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<!-- Footer -->
<!-- Remove the container if you want to extend the Footer to full width. -->

  <!-- Footer -->
  <footer id ="myfooter"
          class="text-center text-lg-start text-white"
          style="background-color: #262626"
          >
    <!-- Grid container -->
    <div class="container-fluid">
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            

            <p><br><br><h id="main_logo_footer" >JEPARA FURNITURE</h5><br><br>


            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">

          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-2 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"></h5>
            <br><br>
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/about" style=" font-family: Poppins; color: #FFFFFF">ABOUT US</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->

      <hr/>

      <!-- Section: CTA -->
      <section class="">
        <p class="d-flex justify-content-center align-items-center">
          <span class="me-3"></span>
                  <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           style="color:white"
           ><i class="fa fa-instagram"></i
          ></a>

                            <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           style="color:white"
           ><i class="fa fa-twitter"></i
          ></a>

                  <a
           class="btn btn-outline-light btn-floating m-1"
           href="#!"
           role="button"
           style="color:white"
           ><i class="fa fa-facebook-f"></i
          ></a>


          
        </p>
      </section>
      <section>
      <h style="color:white">©Copyright. All rights reserved.</h>
      <br><br>
      </section>
      <!-- Section: CTA -->




  </footer>
  <!-- Footer -->

<!-- End of .container -->