{% load static %}
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">  
<style>
  .footer-bg{
    display: block;
    width: 100%;
    background-color: #333;
    color: white;
    font-family: Poppins;
    font-size: 14px;
    white-space: nowrap;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    padding-bottom: 10px;
  }

  .footer-header{
    padding: 30px 30px 0 30px;
  }

  .footer-block{
    display: block;
  }

  .left-side{
    display: inline-block;
    width: calc(100% / 3);
    padding: 30px;
  }

  .middle{
    display: inline-block;
    width: calc(100% / 3);
    padding: 30px;
  }

  .right-side{
    display: inline-block;
    width: calc(100% / 3);
    text-align: center;
  }

  .footer-line{
    display: block;
    width: 80%;
    background-color: #C4C4C4;
    height: 3px;
    border-radius: 20px;
    margin: auto;
    margin: 20px auto;
  }

  .footer-cta{
    display: block;
    text-align: center;
  }

  a:link {
  text-decoration: none;
  }

  a:visited {
  text-decoration: none;
  }

  a:hover {
  text-decoration: none;
  }

  a:active {
  text-decoration: none;
  }
  
  }

</style>

<div class="footer-bg">
  <div class="footer-header">
    <h2 style="font-family: Righteous;">JEPARA FURNITURE</h2>
    <a href="" style="color:white;">About Us</a>
  </div>
  <div class="footer-block">
    <div class="left-side">
      Jl. Mawar 3 no 99
      <br>
      Bintaro -  Jakarta Selatan 12330
      <br>
      No.Telpon : 087777936080
      <br>
      E-mail       : jeparafurniture@gmail.com
    </div>
    <div class="middle">
      <span style="font-family: Righteous;font-size: 24px;">Waktu Operasional</span>
      <br>
      Senin - Jum’at
      <br>
      Pukul 09.00 - 17.00 WIB
    </div>
    <div class="right-side">
      <span style="font-family: Righteous;font-size: 24px;">Follow Us</span>
      <br>
      <a href=""><img  style="padding: 10px;" src ={% static "img/instagram-icon.png" %}></a>
      <a href=""><img  style="padding: 10px;" src ={% static "img/twitter-icon.png" %}></a>
      <a href=""><img  style="padding: 10px;" src ={% static "img/facebook-icon.png" %}></a>
    </div>
  </div>
  <div class="footer-line"></div>  
  <div class="footer-cta">©Copyright. All rights reserved. </div>
</div>
