{% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">  
<style>

.error {
  padding: 20px;
  background-color: #f44336;
  color: rgb(255, 255, 255);
}

.success {
  padding: 20px;
  background-color: #16a86b;
  color: rgb(255, 255, 255);
}

.info {
  padding: 20px;
  background-color: #407a9e;
  color: rgb(255, 255, 255);
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.dropdown {
  float: right;
  font-family: Asimov;
}

.dropdown .dropbtn {
  width: 50px;
  border: none;
  outline: none;
  background-color: #333;
  line-height: 70px;
  box-sizing: border-box;
  text-align: center;
}

.dropdown:hover .dropbtn {
  background-color: #f2f2f2;
  color: #333;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  overflow: visible;
  line-height: 50px;
  box-sizing: border-box;
}

.dropdown-link {
  float: none;
  text-decoration: none;
  display: block;
  text-align: right;
  width: 100%;
  padding: 0 20px;
  z-index: 4;
}

.dropdown-content a:hover{
  background-color: #f2f2f2;
  line-height: 50px;
  box-sizing: border-box;
  text-align: right;
}

.dropdown:hover .dropdown-content {
  display: block;
  background-color: #333;
  position: absolute;
  right: 0;
  top: 70px;
}

.topnav {
    font-family: Asimov;
    position: relative;
    top: 0;
    background-color: #333;
    margin: auto;
    height: 70px;
    max-height: none;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 0 0.8%;
    text-decoration: none;
    font-size: 17px;
    display: inline-block;
  }

  .dropdown a:link {
    text-decoration: none;
  }
  
  .dropdown a:visited {
    text-decoration: none;
  }
  
  .dropdown a:hover {
    text-decoration: none;
  }
  
  .dropdown a:active {
    text-decoration: none;
  }
  .dropdown a:link {
    color: #f2f2f2;
  }
  .dropdown a:visited {
    color: #f2f2f2;
  }
  .dropdown a:hover {
    color: #333;
  }
  .dropdown a:active {
    color: #f2f2f2;
  }

</style>

{% if user.is_authenticated %}
  <div class="dropdown">
    <div class="dropbtn">
      <a href='/profile'>
        <img  src ={% static "img/LoginUserIcon.png" %} width="28px" height ="28px">
      </a>
    </div> 
    <div class="dropdown-content">
      <a class="dropdown-link" href="/staff/logout">Logout</a>
    </div>  
  </div> 
 
  {% else %}

  <div class="dropdown">
    <div class="dropbtn">
      <a href='/login'>
        <img src ={% static "img/NonLoginUserIcon.png" %} width="28px" height ="28px">
      </a>
    </div>
  </div>

  {% endif %}

<div class="topnav">
  
    <a href="/staff/preorder">Preorder</a>
    <a href="/staff/complain">Complain</a>
    <a href="/staff/chat">Chat</a>

    <a>
    <a id='main_logo' style="float: left;" href="/">JEPARA FURNITURE</h>
    </a>
</div>
{% if messages %}
    {% for message in messages %}
        {% if message.tags%} 
          <div class="{{message.tags}}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>{{message.tags}} !</strong> {{ message }}.
          </div>
        {% endif %}
    {% endfor %}
{% endif %}