{% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">  
<style>

</style>

{% if user.is_authenticated %}
  <div class="dropdown">
    <div class="dropbtn">
      <a href='/profile'>
        <div class="name-profile">{{request.user.username}}</div>
        <img  src ={% static "img/LoginUserIcon.png" %} width="28px" height ="28px">
      </a>
    </div> 
    <div class="dropdown-content">
      <a class="dropdown-link" href="/admin/logout">Logout</a>
    </div>  
  </div> 
 
  {% else %}

  <div class="dropdown">
    <div class="dropbtn">
      <a href='/login'>
        <img src ={% static "img/NonLoginUserIcon.png" %} width="28px" height ="28px">
      </a>
    </div>
  </div>
  
  {% endif %}

<div class="topnav">
    
    <a href="/staff/preorder">Preorder</a>
    <a href="/staff/complain">Complain</a>
    <a href="/staff/chat">Chat</a>
    <a href="/admin/furniture">Furniture</a>
    <a href="/admin/user">User</a>
    <a href="/admin/staff">Staff</a>
    <a href="/owner/admin">Admin</a>
    <a href="/owner/order">Order</a>
    {% comment %} <a href="/owner/profit">Profit</a> {% endcomment %}

        <a>
    <a id='main_logo' style="float: left;" href="/">JEPARA FURNITURE</h>
    </a>
</div>
{% if messages %}
    {% for message in messages %}
        {% if message.tags%} 
          <div class="{{message.tags}}">
            <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
            <strong>{{message.tags}} !</strong> {{ message }}.
          </div>
        {% endif %}
    {% endfor %}
{% endif %}