{% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Righteous" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">  

<div class="topnav">

    {% if user.is_authenticated %}
    <a href='/'>
      <img id ="user_icon" src ={% static "img/LoginUserIcon.png" %} width="28px" height ="25px">
    {% else %}
    <a href='/login'>
      <img id ="user_icon" src ={% static "img/NonLoginUserIcon.png" %} width="28px" height ="25px">
    {% endif %}
    </a>
    <a href="contact">Contact</a>
    <a href="/view/furniture/chair">Chair</a>
    <a href="/view/furniture/table">Table</a>
    <a href="/view/furniture/bedroom">Bedroom</a>
    <a href="/view/furniture/table">Table</a>
    <a href="/view/furniture/wardobe">Wardrobe</a>
    <a href="/about">About</a>
    <a href="/">Home</a>

        <a>
    <a id='main_logo' style="float: left;">JEPARA FURNITURE</h>
    </a>
    
    
</div>