<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile.css">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&family=Righteous&display=swap" rel="stylesheet">
    <title>Profile</title>
</head>
<body>
    <div class="bg">
        <div class="bg-profile">
            <div class="profile-left">
                <img src="profile.png" class="profile-img" width="500px" height="500px">
                

            </div>
            <div class="profile-right">
                <p class="profile-title">Biodata Diri</p>
                
                <span class="filler-text">Nama</span>

                <span class="profile-desc">Name</span>
                <br>

                <span class="filler-text">Tanggal Lahir</span>
                
                <span class="profile-desc">DoB</span>
                <br>

                <span class="filler-text">Jenis Kelamin</span>
                
                <span class="profile-desc">Gender</span>
                <br>

                <p class="profile-title">Detail Kontak</p>

                <span class="filler-text">Email</span>
                
                <span class="profile-desc">Email</span>
                <br>

                <span class="filler-text">Nomor Telepon</span>
                
                <span class="profile-desc">Phone</span>
                <br>

                

            </div>
        </div>
    </div>
</body>
</html>