<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="template_table.css">
    <title>Title</title>
</head>
<body>
    <div class="bg">
        <div class="bg2">
            <span class="title">Manage Furniture</span>
            <div class="bg-table">
                <table class="table-furniture">
                    <tr>
                        <th>ID</th>
                        <th>Nama</th>
                        <th>Harga</th>
                        <th>Kategori</th>
                        <th>Info</th>
                        <th>Gambar</th>
                        <th>Stock</th>
                        <th>Opsi</th>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>Lemari 2 Pintu</td>
                        <td>1000000</td>
                        <td>Lemari</td>
                        <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ut tempor ligula. Sed rhoncus nibh elementum pretium volutpat. Duis varius diam quam, a interdum augue accumsan quis. Nulla facilisi. Nunc ornare in risus sit amet elementum. Integer dictum pretium neque, quis elementum mauris placerat ut. Vestibulum diam risus, suscipit at arcu id, efficitur pulvinar metus. Ut non blandit neque.</td>
                        <td>
                            <img src="gambar.png">
                        </td>
                        <td>123</td>
                        <td>
                            <a href="">
                                <img src="search-button.png" class="button-table">
                            </a>
                            <a href="">
                                <img src="edit-button.png" class="button-table">
                            </a>
                            <a href="">
                                <img src="delete-button.png" class="button-table">
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</body>
</html>