<!DOCTYPE html>
{% extends 'base.html' %}
<html lang="en">
{% load static   %}
<head>
    {% block style %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/keranjang.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Amaranth&display=swap" rel="stylesheet">
    <title>Jepara Furniture</title>
    <script type="text/javascript">  
        function thousands_separators(num)
          {
              var num_parts = num.toString().split(".");
              num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ".");
              return num_parts.join(".");
          }
      </script>
    {% endblock %}
</head>
<body style="background-color: #ededed;font-family: Asimov;font-size: 0px;color: #262626;">
    {% block body %}
    <div class="bg">
        <div class="title1">
            Detail Order :
        </div>
        <div style="display: block;position: relative;min-height: 500px;">
            <div class="cart-list">
                <!-- for-loop per item -->
                {% for item in orders %}
                <div class="cart-item">
                    <div class="cart-item-img">
                        <input type="image" alt="" value="" name="" img src="/{{item.furnitur.gambar}}" width="100%" disabled>
                    </div>
                    <div class="cart-item-desc">
                        <input disabled class="cart-item-input" type="text" id="" name="" value=" {{item.jumlah}} {{item.furnitur.nama}}" placeholder="" >
                        <input disabled class="cart-item-input" type="text" id="item_total" name="" value="{{item.total}}" style="text-align: right;" placeholder="" >
                    </div>
                </div>
                {% endfor %}
                <!-- for loop per item -->
            </div>
            <div class="cart-detail">    
                    <div class="cart-detail-text">
                        <span>Detail Belanja</span>
                        <br>
                        <span 
                            style="
                                font-family: Asimov;
                                display: inline-block;
                                font-size: 20px;
                                width: 100%;
                                margin-top: 5px;
                                border: 0px;
                                background-color: transparent;
                                color: #262626;
                            ">
                            Tanggal Belanja :<span id="date"></span></span>
                        <br>
                        <input class="cart-detail-input" type="text" id="" name="" value="Alamat" placeholder="" disabled>
                        <input class="cart-detail-input" type="text" id="" name="" value="{{keranjang.alamat}}" style="text-align: right;float: right;" placeholder="" disabled>
                        <br>
                        <input class="cart-detail-input" type="text" id="" name="" value="Status" placeholder="" disabled>
                        <input class="cart-detail-input" type="text" id="" name="" value="{{keranjang.status}}" style="text-align: right;float: right;" placeholder="" disabled>
                        <br>
                        <br>
                        <input class="cart-detail-input" type="text" id="" name="" value="Total Harga {{keranjang.total_furnitur}} item" placeholder="" disabled>
                        <input class="cart-detail-input" type="text" id="keranjang_total" name="" value="{{keranjang.total}}" style="text-align: right;float: right;" placeholder="" disabled>
                        <br>
                        <input class="cart-detail-input" type="text" id="" name="" value="Biaya Pengantaran" placeholder="" disabled>
                        <input class="cart-detail-input" type="text" id="" name="" value="Rp.100.000" style="text-align: right;float: right;" placeholder="" disabled>
                        <br>
                        <div class="small-gap"></div>
                        <span>Total Tagihan</span>
                        <input class="cart-detail-input" type="text" id="total_harga" name="" value={{keranjang.total}} style="text-align: right;float: right;color: rgba(255, 0, 0, 0.74);" placeholder="" disabled>
                    </div>
                    {% if request.user.username != "owner" and keranjang.status != "Completed"%}
                    <form action="/admin/order/{{keranjang.id}}" method="post">
                    {% csrf_token %}
                        <label class="cart-detail-button" for="input-cart-submit">
                            <img src={% static  "img/keranjang/shield-done.png"  %} style="vertical-align: middle;">
                            <input type="submit" id="input-cart-submit" class="input-cart-submit" name="" value="Ubah status menjadi dikirim ">
                        </label>
                </form>
                {% endif %}
            </div>
        </div>    
<script>
$(document).ready(function(){
    document.getElementById('total_harga').value = "Rp " + thousands_separators(parseInt(document.getElementById('total_harga').value) + 100000);
    document.getElementById('keranjang_total').value = "Rp " + thousands_separators(parseInt(document.getElementById('keranjang_total').value));
    n =  new Date();
    y = n.getFullYear();
    m = n.getMonth() + 1;
    d = n.getDate();
    document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
});
</script>
    {% endblock %}
</body>
</html>