.bg{
  position: relative;
  left:0%;
  top:0%;
  right: 0%;
  bottom: 0%;
  font-size: 20px;
  min-height: 500px;
}

.gap{
position: relative;
display: block;
width: 100%;
height: 10px;
background-color: #ededed;
}

.title{
position: relative;
width: 100%;
text-align: center;
padding: 20px 0;
box-sizing: border-box;
}

.bg-va{
width: 100%;
background-color: white;
border-radius: 25px;
box-sizing: border-box;
padding: 30px;
line-height: 50px;
}

.bg-va-gap{
position: relative;
display: block;
width: 100%;
height: 8px;
background-color: #333;
margin: 15px 0;
border-radius: 25px;
}

.va-button{
background-color: #333;
color: white;
padding: 5px 20px;
box-sizing: border-box;
border-radius: 25px;
float: right;
}

.title2{
position: relative;
width: 100%;
border-radius: 25px;
box-sizing: border-box;
padding: 30px;
}

.va-button2{
background-color: #333;
color: #ededed;
padding: 5px 50px;
box-sizing: border-box;
border-radius: 25px;
float: right;
display: inline-block;
box-sizing: border-box;
}

.va-button3{
background-color: #333;
color: #ededed;
padding: 5px 30px;
box-sizing: border-box;
border-radius: 25px;
float: right;
display: inline-block;
box-sizing: border-box;
}

.bg-instructions{
position: relative;
width: 100%;
border-radius: 25px;
box-sizing: border-box;
padding: 50px 30px;
background-color: white;
mix-blend-mode: normal;
margin-top: 20px;
}


/* Link */

a:link {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

a:hover {
text-decoration: none;
}

a:active {
text-decoration: none;
}
a:link {
color: rgb(0, 0, 0);
}
a:visited {
color: rgb(0, 0, 0);
}
a:hover {
color: rgb(0, 0, 0);
}
a:active {
color: rgb(0, 0, 0);
}


      .button-upload{
          display: inline-block;
          background-color: #333;
          color: rgb(255, 255, 255);
          padding: 5px 25px;
          text-align: center;
          box-sizing: border-box;
          margin-right: 5px;
          border-radius: 25px;
          height: 100%;
          font-size: 20px;
          cursor: pointer; 
      }  
      
      input[type="file"] {
          display: none;
          width: 0px;
          height: 0px;
      }

      .button-submit{
          display: inline-block;
          background-color: #333;
          color: #ededed;
          padding: 5px;
          text-align: center;
          box-sizing: border-box;
          border-radius: 100px;
          width: 40px;
          font-size: 20px;
          font-weight: bold;
          cursor: pointer; 
      }